@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 4;
    column-count: 4;
  }
}

.card-body span.font-orange {
    margin-bottom: 8px;
}

.font-orange {
    color: orange;
}

h3.trending-title {
    margin-bottom: 0;
    color: #555;
}

.trending-number > h1 {
    color: #555;
}

.trending-text > small {
    color: #aaa;
}

.trending-number {
    border-right: 1px solid #eee;
}

.trending-number, .trending-content {
    padding: 1rem;
}

iframe {
    border-width: 0;
}

a.movie {
    margin-bottom: 1rem;
}

a.movie, a.movie:hover {
    text-decoration: none;
    color: inherit;
    display: inline;
}

/* Hover Zoom Animation */

div.card-head.animation {
    position: relative;
    overflow: hidden;
}

div.card-head.animation img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
div.card.animation:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

div.card.animation:hover
{
    -webkit-box-shadow:0 1px 4px rgba(55,147,146, 0.3), 0 0 20px rgba(55,147,146, 0.3);
    -moz-box-shadow:0 1px 4px rgba(55,147,146, 0.3), 0 0 20px rgba(55,147,146, 0.3);
    box-shadow:0 1px 4px rgba(55,147,146, 0.3), 0 0 20px rgba(55,147,146, 0.3);
}

/* End of Hover Zoom Animation */
